body{background: #eeeeee; font-size: 12px;}

input:focus, select:focus{outline: 0 none;}


.container{width: 1170px;}
.foot-container{text-align: center;padding: 20px 0px;}
.breadcrumb-container{margin-top: 70px;}
.navbar{background: #393d49;border-radius:0px;}
.navbar a{color: #ffffff !important; }
.dropdown-menu a{color:#000000 !important;}
.navbar-brand{font-size: 14px;font-family:'Î¢ÈíÑÅºÚ';}

.text_align_right{text-align: right;}
.select_control{width: 120px;}
.float_left{float: left;}
.margin_right{margin-right: 10px;}
.margin_top_10 {margin-top: 10px;}
.input_width{width: 600px!important;}

.form-control{border-radius:2px;height: 31px;}
.login-modal-content{border-radius:3px;}
.login-modal-header{background-color: #337ab7;}
.login-modal-header h4{font-size: 14px;font-weight: bold!important;color: #ffffff;font-family:'Î¢ÈíÑÅºÚ';}
.login_tr {height: 50px;}
.login_key {width: 70px; text-align: right;padding-right: 10px;}
.login_table input{width: 280px;padding-left: 8px;}
.verify {width:180px!important; float:left;}
.login-verify-img{width:100px; height:35px; padding-left:10px; float:left;}
.modal-footer{text-align: center;padding:6px 20px;}

.login_btn {padding: 6px 20px;}
.btn {font-size: 12px;border-radius:2px;margin: 0px 5px;}
.btn-default {background: #e6e6e6;border-color: #e6e6e6;}

.table_control{margin-top: 20px;}

.modify_password_dialog .modal-dialog{width:420px;}

.width-420 {width: 420px!important;}
.cb-margin {margin: 0px!important;}

.role-module-title {text-align: center;font-weight: bold;background: #f9f9f9;}
.role-module-name {width: 100px;text-align: right;}
.role-module-checkbox{height: 40px;text-align: left;}
.label-role{font-weight: normal!important;margin-right: 10px;line-height: 20px;}
.label-role input{float: left;margin-right: 3px;}

.emp-photo{width: 140px; padding: 5px !important;}
.emp-photo img{width: 100%;height: 100%;}
.emp-key {width: 140px;text-align: right;font-weight: bold;}
.emp-key span{font-size: 15px;color: red;font-weight: bold;padding: 0px 5px;}
.emp-box {width: 100%;padding: 20px;background: #ffffff; border-radius:5px; }
.emp-title{width:100%; display: block; height: 35px; font-size: 25px; text-align: center; font-family:'Î¢ÈíÑÅºÚ';font-weight: bold;}
.emp-label{font-weight: normal;height: 15px; line-height: 25px; margin-right: 10px;float: left; }
.emp-label input{float: left;margin-right: 5px;}
.emp-input {width: 100%;height: 25px;border: none;}
.emp-select {width: 100%;height: 25px; border: 1px solid #cccccc;}
.emp-address {width: 125px; margin-right: 5px;}
.emp-address-input{width:270px;margin-left: 5px;}
.emp-table td{padding: 5px!important;}
.emp-note {background: #fafafa; border: 1px solid #cccccc;padding: 10px;}

.color-red {color: red;}


.btn-emp-newmsg{text-align: right; }
